<div id="content">
    [% FOREACH post IN row.0 %]
    <span>
[% IF post.change_date != '01 Jan 1970' %]
[% post.change_date %]
[% ELSE %]
[% post.create_date %]
[% END %]
</span><a href="/blog/post/[% post.post_id %]" title="[% post.post_title %]">[% post.post_title %]</a><br>
    [% END %]
</div>
